.div-card{
    outline: 2px solid #000;
    margin: auto;
    margin-bottom: 2rem;
    width: 85%;  
    height: 500px;
    border-radius: 10%;
    background: rgba(0, 0, 0, 0.4);
    overflow: hidden;
    transition: all 400ms ease;
    position: relative;
}

.div-card:hover{
    outline: 2px solid #4db5ff;
}

.div-card h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 200;
    font-size: 1.6rem;
    height: 5rem;
    color: wheat;
    
}

.genres{
    display: grid;
    grid-template-columns: repeat(2, 40%);  
    justify-content: center;
    align-items: center; 
    height: 10rem;
    width: 100%;
}

.genres__card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: 3rem;
    width: 8.5rem;
    /* background: rgba(0, 0, 0, 0.2); */
    border-radius: 1.3rem;
    /* border: 1px solid #4db5ff; */
    color: #4db5ff;
}

.img-card{
    width: 210px;
    height: 170px;
    border-radius: 2rem;
}

.rating-card{
   display: flex;
   justify-content: center;
   position: absolute;
   bottom: 0;
   width: 100%;
   gap: 0.30rem;
}


.rating-card-icon{ 
   margin-top: 1.4rem;
   color: #ffff74;
}

.navlink-detail{
    text-decoration: none;
    color: #fff;
}

.btn-delete{
    position: absolute;
    right: 1.5rem;
    cursor: pointer;
    padding: 0.30rem 0.50rem;
    background: transparent;
    border: 1px solid #4db5ff;
    color: #4db5ff;
    border-radius: 3px;
}

.btn-delete:focus{
    background-color: none;
}

@media screen and (max-width: 1024px) {
    .div-card{      
        width: 90%;  
        height: 450px;
    }

    .genres{
        grid-template-rows: repeat(3, 33%);
        justify-content: center;
        align-items: center;     
        height: 10rem;
        width: 100%;
    }

    .div-card h1{
        align-items: flex-start;
        font-size: 1.2rem;  
    }

    .img-card{
        margin-top: -2rem;
    }

    .rating-card{
    
        
       
    }
}

/* Media queries (small devices)  */

@media screen and (max-width: 600px) {


}