.c-div{
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    margin-top: 1rem ;
}

.search-bar{
    display: flex;
    justify-content: center;
    gap: 0.50rem;
    flex-wrap: wrap;
}

.s-bt{
    width: 120px;
    border-radius: 15px;
    padding: 5px 30px 5px 5px;
    border: 1px solid wheat;
    color: white;
    background-color: #191919;
    cursor: pointer;
    margin-bottom: 2rem;
}

.input-total{
    margin-bottom: 1rem;
    position: absolute;
    top: 3rem;
}

.input-invisible {
    display: none;
}

.input-search{
    padding: 0.50rem 1rem;
    width: 250px;
    border-radius: 2rem 0 0 2rem;
    border: 1px solid wheat;
    border-right: none;
    /* border-color: wheat transparent wheat wheat; */
    background-color: #191919; 
    color: #fff;
 } 

 .input-search::placeholder{
    padding-right: 10px;
} 

 .btn__search{
    border-radius: 0 50% 50% 0;
    padding: 0.50rem 0.70rem;
    cursor: pointer;    
    background-color: #191919; 
    border: 1px solid wheat;    
 }

 .btn__search:focus{
    background-color: #191919; 
 }

 .btn__search-icon{
    color: #fff;
 } 


 @media screen and (max-width: 600px) {
    .s-bt{
        width: 100px;     
    }
}
