.div-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

@media screen and (max-width: 1024px) {
    .div-cards{
        grid-template-columns: repeat(2, 1fr);      
    }
}

/* Media queries (small devices)  */

@media screen and (max-width: 600px) {
    .div-cards{
        grid-template-columns: repeat(1, 1fr);      
    }
}